<p class="pt-4 ps-4 text-primary">
	< <a href="C:\Users\mathe\Desktop\Projetos\cerimonial-frontend\src\app\app.component.html">Evento</a>
</p>
<p class="pt-2 ps-4 h3">Novo Evento</p>
<div class="ps-4 pt-4">
	<div class="component bg-secondary">
		<div class="row">
			<div class="col-12">
				<div class="">
					<div class="pt-0 px-4">
						<form class="row">
                     <div class="col-md-12">
                        <label for="inputNomeEvento" class="form-label pt-3 fw-bold">Nome</label>
                        <input type="text" class="form-control" id="inputNomeEvento" placeholder="Nome do Evento">
                     </div>
							<div class="col-md-8">
								<label for="inputDescricaoEvento" class="form-label pt-3 fw-bold">Descrição</label>
								<input type="text" class="form-control" id="inputDescricaoEvento" placeholder="Descrição do Evento">
							</div>
							<div class="col-md-4">
								<label for="inputMotivo" class="form-label pt-3 fw-bold">Motivo</label>
								<input type="text" class="form-control" id="inputMotivo" placeholder="Motivo">
							</div>
							<div class="col-12">
								<label for="inputLocal" class="form-label pt-3 fw-bold">Local</label>
								<input type="text" class="form-control" id="inputLocal" placeholder="Descrição do Local">
							</div>
							<div class="col-md-8">
								<label for="inputTraje" class="form-label pt-3 fw-bold">Traje</label>
								<input type="text" class="form-control" id="inputTraje" placeholder="Traje do Evento">
							</div>
							<div class="col-4 pt-5">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridAssento">
									<label class="form-check-label fw-bold" for="gridAssento">
										Assento Marcado
									</label>
								</div>
							</div>
                     <div class="col-12">
								<label for="inputEmailEvento" class="form-label pt-3 fw-bold">Evento</label>
								<input type="text" class="form-control" id="inputEmailEvento" placeholder="email@email.com">
							</div>
                     <div class="col-12">
                        <label for="inputObservacao" class="form-label pt-3 fw-bold">Observação</label>
                        <textarea class="form-control" id="inputObservacao" rows="4"></textarea>
                     </div>
							<div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end pt-3 pb-3">
                        <button type="button" class="btn btn-light fw-bold">Cancelar</button>
								<button type="button" class="btn btn-primary fw-bold">Salvar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>